*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


body{
    font-family: 'poppins';
    
} 



/*.my-nav{
    box-shadow: 0 0 5px rgba(33,33,33,.8); 

}*/

.my-nav  .nav-color{
       color: #6D6C6C    !important;
}
.dropdown-item{
    color: #6D6C6C    !important;
}
.my-nav .link{
    color: #fff ;
    font-size: 17px;
    font-weight: 500;

    line-height: 50px;

}

.my-nav li{
    padding: 10px;
    letter-spacing: 1pt;
    font-family: 'Gt America';
    color: #fff;

}
.my-nav .nav-link:hover{
    color: #1287cd !important;

}
 .btn-nav{
   width: 180px;
  font-family: 'Gt America';
   display: inline-block;
   padding: .1em .1em;
   border-radius:2em ;
   box-sizing: border-box;
   color: #fff;
   background-color: #1287cd;
   margin:0 0.5em 0.5em 0;
   text-align: center;
   cursor: pointer;
   margin-top:15px ;
   line-height: 35px !important;
   letter-spacing: 2pt;

}

.nav-link{
    cursor: pointer;
}
 .btn-nav:hover{
    color: #fff;
    background-color: #1a73aa;

}
.offcanvas-header{
    display: none;
}
.home {
    height: 100vh;
    background-image: url(home.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
}

.home .home-image {
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    overflow: auto;
}
.home-content{
   position: absolute;
   top: 40%;
    color: #fff;
    width: 100%;

}
.home-content h2{
   text-align: center;
    padding: 1rem;
    font-weight: 800;
    font-size: 55px;
    width: 80%;
    margin: auto;
    letter-spacing: 1.4pt;
}

.home-content p{
 

    text-align: center;
    width: 60%;
    padding: 30px;
    margin: auto;
    font-size: 19px;


}

 #btn{

    border: 5px solid #1287cd !important;
    border-radius:30px ;
    background-color: #1287cd;
    color: #fff;
    font-size: 20px;
    font-weight: 400;

}
#btn:hover{
    background-color: #1a73aa;
    border: 5px solid #1a73aa !important;
    color: #fff;



}
.content-home .text #btn{
    width: 180px;


}
.angbot{
    background-color: #f7f7f7;
    padding: 5rem;
    text-align: center;
}
.angbot h4{
    font-family:'Gt America';
    letter-spacing: 2pt;
    font-style: normal;
    font-weight: bolder;
    color: #6D6C6C;
    font-size:30px;
    line-height: 24px;
    padding: 3rem;
    text-align: center;

}
.angbot-header{
    padding: 2rem;
}
.content-angbot ul{
    list-style-type: none;
    padding-top:10px ;
      
  }
  .content-angbot li{
      font-size: 18px;
      padding: 15px;
      padding-left:0 ;
      text-align: left;
      font-weight: 500;
      font-family: 'open sans';
      color: #6D6C6C;

  }
  .features{
      padding: 6rem;
      overflow: hidden;
  }
.features ul li::before {
    content: "\2022";

    color: #1287cd;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    font-size: 25px;
    margin-left: -1em
  }
.angbot .details{
    background-color: #fff;
}

.angbot .card{
    border: 0;
    text-align: center;
}

.angbot .card h5{
    font-family:'Gt America';
    font-weight: bolder;

    color: #1287cd;
    font-size:28px;
    line-height: 24px;
    padding-top: 20px;
    
} 


.angbot .card p{
    font-size: 15px;
    line-height: 24px;
    color: #6D6C6C;
    padding-top: 20px;

}
.angbot #btn{
    margin-top: 3rem ;
    width:280px;
    font-family: 'open sans';
}
.levels{
    text-align: center;
    background-color: #fafafa;
}
.levels h4{
    font-family:'Gt America';
    letter-spacing: 2pt;
    font-style: normal;
    font-weight: bolder;
    font-size:30px;
    line-height: 24px;
    color: #6D6C6C;

    padding-top: 20px;
    padding-top:6rem ;
    padding-bottom:6rem ;
    letter-spacing: 2px;
}
.levels p{
    padding:4rem ;
    color: #6D6C6C;


}
svg rect:hover{
    filter:url("#i1"); 

}
svg circle:hover {

    transform: rotate(45 50 50);
}

.advantages h4{
    text-align: center;
    text-transform: uppercase;
    color: #6D6C6C;

    font-family:'Gt America';
    letter-spacing: 2pt;
    font-style: normal;
    font-weight: bolder;
    font-size:30px;
    line-height: 24px;
    padding-top: 5rem;

}

.packages{
    width: 100%;
    padding: 5rem;
    background-color: #fff !important;
}
.packages h4{
    text-align: center;
    text-transform: uppercase;
    color: #6D6C6C;

    font-family:'Gt America';
    letter-spacing: 2pt;
    font-style: normal;
    font-weight: bolder;
    font-size:30px;
    line-height: 24px;
    padding:2.5rem ;

}
.packages .card-text{
    padding:1.5rem ;



}

.packages .col-sm-4 .card{
    border: 0;
    margin-bottom:40px ;

    transition: box-shadow .3s;

}
.packages .col-sm-4 .card h5{
    text-align: center;
    font-family:'Gt America';
    color: #6D6C6C;
    padding-top: 40px;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0;
}

.packages .col-sm-4 .card ul{
    list-style: none;
    padding-bottom: 3rem;
    font-size: 16px;
    text-align: center;
}
.packages .col-sm-4 .card ul li {
    line-height: 35px;
}
.packages .col-sm-4 p{
    text-align: center;
}
.packages .p{
    text-align: center;
    padding-top: 1.5rem;
}
.packages .col-sm-4 .card ul .li:before {
    content: '✓';
    color: #1287cd;
    font-weight: bold;
    display: inline-block; 
    width: 1.4em;
    font-size: 20px;
    margin-left: -1em
  }
/*.card:hover{
    color:#fff;
    background-color: #1287cd;
}*/

.packages .price{
    margin:3rem ;
    color: #1287cd;
    font-weight: bold;
    font-size: 30px;
    width: 200px;
}
.packages .col-sm-4 p{
    line-height: 35px;

}

.packages .col-sm-4 .card:hover{
  box-shadow: 0 0 11px rgba(33,33,33,.6); 

}
.btn-package{
    width: 180px;
    font-family: 'Gt America';
     display: inline-block;
     padding: .1em .1em;
     border-radius:2em ;
     box-sizing: border-box;
     color: #fff;
     background-color: #1287cd;
     margin:0 0.5em 0.5em 0;
     text-align: center;
     cursor: pointer;
     margin-top:15px ;
     line-height: 35px !important;
     letter-spacing: 2pt;
     margin-bottom: 30px;
     font-weight: bold;
}
.btn-package:hover{
    background-color: #1a73aa;
    color: #fff;
}

.footer{
    font-family:'Gt America';

    background-color: #34495e;
    color: #e6e6e6;
    text-align: center;
    padding: 70px;
}
.footer .content-footer{
    cursor: pointer;
}
.footer h4{
    font-family:'Gt America';
    letter-spacing: 1.2pt;
    font-style: normal;
    font-weight: 500;
    font-size:20px;
    line-height: 24px;

    padding: 2rem;
}

.footer i{
    padding: 30px;
}
.footer  a{
    cursor: pointer;
}
.footer .content-footer p{
    line-height: 30px;
    font-size: 17px;
    letter-spacing: 1pt;

    
} 
.footer .content-footer a{
    color:#e6e6e6!important;
    cursor: pointer;

}



@media only screen and (max-width:620px){
body{
    margin: 0;
}  
svg{
    width: 100%;
}
.home{
    width: 100%;
}
.home h2{
    width: 100%;
    font-size: 33px;
}
.home p{
    width:100%;
    font-size: 20px;

}
.home-content{
    top:20%;
}
.angbot{
    padding: 0;
}
.angbot button{
    margin: 20px;
}
.packages{
    padding: 0;
}
.collapse{
    background-color: #fff !important;
    width: 100%;
}
 .my-nav{
     color: #6D6C6C !important;
 }
 .my-nav a{
    color: #6D6C6C!important;
    line-height: 10px;

 }
 
 .my-nav ul{
     margin-left:0 !important;
     text-align: center;
 }
 
 .my-nav .btn-nav{
     color: #fff !important;
 }
 .advantages,.features{
     padding: 20px !important;
 }
 .home-image{
     width: 100%;
     background-image: cover;
 }
 .price{
     text-align: center;
 }

 
 
}

